@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 15% 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--lightGray);
  font-family: "Outfit", sans-serif;
}

#main {
  grid-column: 2;
}

#container {
  padding: 1rem;
  border-radius: 1.25rem;
  background-color: var(--white);
  max-width: 20rem;
}

#text {
  text-align: center;
  margin-top: 1rem;
}

.sr-only {
  display: none;
}

img {
  border-radius: 0.625rem;
  width: 100%;
}

h3 {
  color: var(--darkBlue);
}

p {
  color: var(--grayishBlue);
  margin-top: 1.25rem;
  padding-bottom: 1.875rem;
  font-size: 1rem;
}

.attribution {
  padding: 0.625rem;
  margin-top: 3.125rem;
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
